{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "importOrder": [
    "^@/app/(.*)$",
    "^@/actions/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
